<div id="ffmpeg" class="collapse" data-parent="#mamGroup">
    <h3>ffmpeg</h3>
   
</div>
<script>
    function addclassstomam(){
         setTimeout(() => { $("#mam").addClass("show") }, 0);
    }
    $("#lnkffmpeg").click( () =>{
       addclassstomam();
    }
    );

    $("#lnkebucoremetadata").click( () =>{
       addclassstomam();
    }
    );

    $("#lnkcopyandproxyprogram").click( () =>{
       addclassstomam();
    }
    );

    $("#lnkbatchtrasncode").click( () =>{
       addclassstomam();
    }
    );

    $("#lnkwatchfolder").click( () =>{
       addclassstomam();
    }
    );

    $("#lnkyoutubedownloader").click( () =>{
       addclassstomam();
    }
    );


</script>