<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="mam_nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="lnkffmpeg" href="#ffmpeg" data-toggle="collapse" >FFMPEF</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="lnkebucoremetadata" href="#ebucoremetadata" data-toggle="collapse">ebucoremetadata</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="lnkcopyandproxyprogram" href="#copyandproxyprogram"
          data-toggle="collapse">copyandproxyprogram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="lnkbatchtrasncode" href="#batchtrasncode" data-toggle="collapse">batchtrasncode</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="lnkwatchfolder" href="#watchfolder" data-toggle="collapse">watchfolder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="lnkyoutubedownloader" href="#youtubedownloader"
          data-toggle="collapse">youtubedownloader</a>
      </li>

    </ul>
  </div>
</nav>