<div  id="GeneralRecorder" class="collapse" data-parent="#myGroup">
  <h3> General Recorder </h3>
  <iframe id="GeneralRecorder1"  style="position:fixed;left :10px;top:120px;height: 360px;width: 620px;" src="GeneralRecorder.html"></iframe>

  <iframe  id="vtrcontrol1"  style="position:fixed;left :700px;top:120px;height: 575px;width: 270px;" src="frames/vtrcontrol1.html"></iframe>
</div>

<script>

</script>