<div  id="GeneralRecorder" class="collapse" data-parent="#myGroup">
  <h3> General Recorder </h3>
  <iframe id="GeneralRecorder1"  style="position:fixed;left :10px;top:120px;height: 360px;width: 620px;" src="GeneralRecorder.html"></iframe>
</div>

<script>
  //setTimeout(()=>{document.getElementById('GeneralRecorder1').contentWindow.flvplayerstart()},1000);
</script>