<% for (var i=0; i<5; i++ ){ %>
    vimlesh <br />
     <% } %>
    <button onclick="aa()">hello</button>
    <script>
        function aa(){
        alert("vimlesh");
        }
    
    </script>