<nav class="navbar  navbar-light   navbar-expand-lg  fixed-top col-sm-6" style="background-color: #C0FFFF;">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Video Player</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" data-toggle="collapse" href="#VideoServer" id="lnkVideoServer" >Video Server</a>
          </li>
          <li><a class="dropdown-item" data-toggle="collapse" href="#Playfromanywhere" id="lnkPlayfromanywhere">Play From Anywhere</a></li>
        </ul>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Template</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" data-toggle="collapse" href="#template"  id="lnktemplate" >Flash Template</a></li>
          <li><a class="dropdown-item" data-toggle="collapse"  href="#htmltemplate" id="lnkhtmltemplate">HTML Template</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Recording And Trimming</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" data-toggle="collapse" href="#fourchannelrecorder" id="lnkfourchannelrecorder">4
              Channel recorder and Trimmer</a></li>
          <li><a class="dropdown-item" data-toggle="collapse" href="#GeneralRecorder" id="lnkGeneralRecorder">General
              Recorder</a></li>
          <li><a class="dropdown-item" data-toggle="collapse" href="#offairlogger" id="lnkoffairlogger" >Off Air Logger</a></li>
          <li><a class="dropdown-item" data-toggle="collapse" href="#fourchanneloffairlogger"  id="lnkfourchanneloffairlogger" >4 Channel Off Air Logger</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" href="#Trimming_Transcoding" data-toggle="collapse" id="#lnkTrimming_Transcoding" >Trimming_Transcoding</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Cg</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" data-toggle="collapse"  href="#CG1" id="lnkCG1" >CG1</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#CG2" id="lnkCG2" >CG2</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#Oneliner" id="lnkOneliner" >Oneliner</a></li>
          <li><a class="dropdown-item" data-toggle="collapse"  href="#Twoliner" id="lnkTwoliner" >Twoliner</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#PPT" id="lnkPPT" >PPT/Excell</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#Watermarking" id="lnkWatermarking" >Watermarking</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#Quiz" id="lnkQuiz" >Quiz</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#Weather" id="lnkWeather" >Weather</a></li>
        </ul>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Scroller</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"  data-toggle="collapse" href="#ScrollAndBreakingNews" id="lnkScrollAndBreakingNews" >scroll And Breaking News</a></li>
          <li><a class="dropdown-item" data-toggle="collapse"  href="#HtmlScroller" id="lnkHtmlScroller" >HTML Scroll</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#MultibulletScroller" id="lnkMultibulletScroller" >Multibullet Scroll</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#ImageScroller" id="lnkImageScroller" >Image Scroll</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#HorizontalScroller1" id="lnkHorizontalScroller1" >Horizontal Scroll 1</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#HorizontalScroller2" id="lnkHorizontalScroller2" >Horizontal Scroll 2</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#RssFeedasScrollBreakingNewsAndClock" id="lnkRssFeedasScrollBreakingNewsAndClock">RSS Feed as Scroll, Breaking News and Clock</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#SceneScroller" id="lnkSceneScroller" >Scene Scroller</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#verticalscroll1" id="lnkverticalscroll1" >Vertical scroll 1</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#verticalscroll2" id="lnkverticalscroll2" >Vertical scroll 2</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Games</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"  data-toggle="collapse" href="#NationalGameskerla2015" id="lnkNationalGameskerla2015" >National Games Kerla 2015</a></li>
          <li><a class="dropdown-item" data-toggle="collapse"  href="#SouthAsianGamesGuwahati2016" id="lnkSouthAsianGamesGuwahati2016" >South Asian Games Guwahati 2016</a></li>
          <li><a class="dropdown-item" data-toggle="collapse"  href="#Cricket" id="lnkCricket" >Cricket</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#DaviceCup" id="lnkDaviceCup" >Davice Cup</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#OnScreenDrawing" id="lnkOnScreenDrawing" >On Screen Drawing</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#WeightLifting" id="lnkWeightLifting" >Weight Lifting</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">External Softawres</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" data-toggle="collapse"  href="#mam" id="lnkmam" aria-expanded="true">Media Asset Management</a></li>
          <li><a class="dropdown-item" data-toggle="collapse"  href="#XdcamSoapClient" id="lnkXdcamSoapClient" >XDCam Soap Client</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#VDCPController" id="lnkVDCPController" >VDCP Controller</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#UDPChat" id="lnkUDPChat" >UDP Chat</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#Metadata" id="lnkMetadata" >Metadata</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#XdcamControllers" id="lnkXdcamControllers" >XDcam Controllers</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#YoutubeLiveManagement" id="lnkYoutubeLiveManagement" >Youtube Live Management</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Other Modules</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item"  data-toggle="collapse" href="#Streaming" id="lnkStreaming" >Streaming</a></li>
          <li><a class="dropdown-item" data-toggle="collapse"  href="#StreamPlayer" id="lnkStreamPlayer" >Stream Player</a></li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">SubTiltling</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-toggle="collapse"  href="#SRTPlayer" id="lnkSRTPlayer" >SRT Player</a></li>
              <li><a class="dropdown-item"  data-toggle="collapse" href="#SongSubtitling" id="lnkSongSubtitling" >Song Subtitling</a></li>
            </ul>
          </li>



          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Slow Motion</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-toggle="collapse"  href="#SlowMotioninServer21" id="lnkSlowMotioninServer21" >Slow Motion in Server 2.1</a></li>
              <li><a class="dropdown-item" data-toggle="collapse"  href="#slowmotioninJstarserver" id="lnkslowmotioninJstarserver" >Slow Motion in Jstar Server</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Social Media</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"  data-toggle="collapse" href="#facebook" id="lnkfacebook" >facebook</a></li>
              <li><a class="dropdown-item"  data-toggle="collapse" href="#Twitter" id="lnkTwitter" >Twitter</a></li>
              <li><a class="dropdown-item"  data-toggle="collapse" href="#HTMLorInternet" id="lnkHTMLorInternet" >HTML or Internet</a></li>
            </ul>
          </li>



          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">VLC</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-toggle="collapse"  href="#VLCStreamtester" id="lnkVLCStreamtester" >Stream Tester</a></li>
              <li><a class="dropdown-item"  data-toggle="collapse" href="#VLC4channelPreview" id="lnkVLC4channelPreview" >4 Channel Preview</a></li>
            </ul>
          </li>

          <li><a class="dropdown-item" data-toggle="collapse"  href="#Mixer" id="lnkMixer" >Mixer</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#VisionMixer" id="lnkVisionMixer" >Vision Mixer</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#osc"  id="lnkosc" >OSC</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#SilenceDetector" id="lnkSilenceDetector" >Silence Detector</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#Election" id="lnkElection" >Election</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#Timers" id="lnkTimers" >Timers</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#DBFSMeter16Channel" id="lnkDBFSMeter16Channel" >dBFS Meter 16 Channel</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#cctv" id="lnkcctv" >CCTV</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#CommandScheduler" id="lnkCommandScheduler" >Command Scheduler</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#commandschedulerDatewise" id="lnkcommandschedulerDatewise" >Command Scheduler Datewise</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#SQLTest" id="lnkSQLTest" >Sql Test</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#WEBSocketserver" id="lnkWEBSocketserver" >Web Scocket Server</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#FullpageCaption" id="lnkFullpageCaption" >Full Page Caption</a></li>
          <li><a class="dropdown-item" data-toggle="collapse"  href="#remotelogging" id="lnkremotelogging" >Remote Logging</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#tabPages" id="lnktabPages" >Tab Pages</a></li>
          <li><a class="dropdown-item"  data-toggle="collapse" href="#composition" id="lnkcomposition" >Composition</a></li>
          <li><a class="dropdown-item" data-toggle="collapse"  href="#templatePlaylist" id="lnktemplatePlaylist" >Template Playlist</a></li>
        </ul>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Tools</a>
        <ul class="dropdown-menu">
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Add Screen</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" onclick="sendstring('add 1 screen')">Channel 1</a></li>
              <li><a class="dropdown-item" href="#" onclick="sendstring('add 2 screen')">Channel 2</a></li>
              <li><a class="dropdown-item" href="#" onclick="sendstring('add 3 screen')">Channel 3</a></li>
              <li><a class="dropdown-item" href="#" onclick="sendstring('add 4 screen')">Channel 4</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Add Output</a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Fill</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Decklink</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 decklink 1 embedded_audio')">1</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 decklink 2 embedded_audio')">2</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 decklink 3 embedded_audio')">3</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 decklink 4 embedded_audio')">4</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 decklink 5 embedded_audio')">5</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 decklink 6 embedded_audio')">6</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 decklink 7 embedded_audio')">7</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 decklink 8 embedded_audio')">8</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Bluefish</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 Bluefish 1 embedded_audio')">1</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 Bluefish 2 embedded_audio')">2</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 Bluefish 3 embedded_audio')">3</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 Bluefish 4 embedded_audio')">4</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 Bluefish 5 embedded_audio')">5</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 Bluefish 6 embedded_audio')">6</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 Bluefish 7 embedded_audio')">7</a></li>
                      <li><a class="dropdown-item" href="#"
                          onclick="sendstring('Add 1 Bluefish 8 embedded_audio')">8</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Key</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Decklink</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Decklink 1 key_only')">1</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Decklink 2 key_only')">2</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Decklink 3 key_only')">3</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Decklink 4 key_only')">4</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Decklink 5 key_only')">5</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Decklink 6 key_only')">6</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Decklink 7 key_only')">7</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Decklink 8 key_only')">8</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Bluefish</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Bluefish 1 key_only')">1</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Bluefish 2 key_only')">2</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Bluefish 3 key_only')">3</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Bluefish 4 key_only')">4</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Bluefish 5 key_only')">5</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Bluefish 6 key_only')">6</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Bluefish 7 key_only')">7</a>
                      </li>
                      <li><a class="dropdown-item" href="#" onclick="sendstring('Add 1 Bluefish 8 key_only')">8</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Remove Output</a>

            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Decklink</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 decklink 1')">1</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 decklink 2')">2</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 decklink 3')">3</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 decklink 4')">4</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 decklink 5')">5</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 decklink 6')">6</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 decklink 7')">7</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 decklink 8')">8</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Bluefish</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 Bluefish 1')">1</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 Bluefish 2')">2</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 Bluefish 3')">3</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 Bluefish 4')">4</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 Bluefish 5')">5</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 Bluefish 6')">6</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 Bluefish 7')">7</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 Bluefish 8')">8</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Play Input</a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Decklink</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 decklink 1')">1</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 decklink 2')">2</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 decklink 3')">3</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 decklink 4')">4</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 decklink 5')">5</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 decklink 6')">6</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 decklink 7')">7</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 decklink 8')">8</a></li>
                </ul>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Bluefish</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 Bluefish 1')">1</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 Bluefish 2')">2</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 Bluefish 3')">3</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 Bluefish 4')">4</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 Bluefish 5')">5</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 Bluefish 6')">6</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 Bluefish 7')">7</a></li>
                  <li><a class="dropdown-item" href="#" onclick="sendstring('Play 1-1 Bluefish 8')">8</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li><a class="dropdown-item" href="#" onclick="sendstring('remove 1 screen')">Remove Screen</a></li>
          <li><a class="dropdown-item" href="#">Reset Setting</a></li>
          <li><a class="dropdown-item" href="#">Edit Config File</a></li>
          <li><a class="dropdown-item" href="#">Restart casparcg Server</a></li>
          <li><a class="dropdown-item" href="#">Restart with Config File</a></li>
          <li><a class="dropdown-item" href="#" onclick="sendstring('kill')">Quit Casparcg Server</a></li>
          <li><a class="dropdown-item" href="#">Copy Example Template</a></li>
          <li><a class="dropdown-item" href="#">Copy Example Media</a></li>
          <li><a class="dropdown-item" href="#" onclick="sendstring('diag')">Casparcg diagnostic Window</a></li>
          <li><a class="dropdown-item" href="#">Clear Type Switch</a></li>
          <li><a class="dropdown-item" href="#" onclick="sendstring('set 1 mode pal')">PAL SD</a></li>
          <li><a class="dropdown-item" href="#" onclick="sendstring('set 1 mode 1080i5000')">HD 1080i5000</a></li>
          <li><a class="dropdown-item" href="http://localhost:8080/" target="_blank">New Instance</a></li>
          <li><a class="dropdown-item" href="javascript:window.open('','_self').close();">Exit Application</a></li>
          <li><a class="dropdown-item" href="#">Different Config Files</a></li>
          <li><a class="dropdown-item" href="#">Load Last Layout</a></li>
          <li><a class="dropdown-item" href="#">Clear Temp Files And Recycle Bin</a></li>
          <li><a class="dropdown-item" href="#">Make Thumbnail for server 2.3</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Help</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">User Manual</a></li>
          <li><a class="dropdown-item" target="_blank"
              href="https://casparcgforum.org/t/simple-video-playout-web-version/3870">Download Location of
              Lattest
              Version</a></li>
          <li><a class="dropdown-item" target="_blank"
              href="https://www.youtube.com/playlist?list=PLeBXICFOkFQtPK7MoKWgHAQJQMTW4Zu6r">Youtube Link Of Help
              Videos</a></li>
        </ul>
      </li>

    </ul>
  </div> <!-- navbar-collapse.// -->
</nav>
<div id="cpuuses" style="font-size:15px; color:  white; position:fixed;left :960px;top:0px;background-color: rgb(138, 81, 8);height: 40px;width:100px;text-align:center;">cpuuses</div>
<script>

</script>