<div div id="osc" class="collapse" data-parent="#myGroup">
<h3>OSC</h3>
  <div style="overflow:scroll;height: 800px;">
  <table border=1 id='osctable' contenteditable >
    <tr>
      <th>Method Name</th>
      <th>Method Value</th>
      <th>Method Value</th>
    </tr>
    <tr id="/channel/1/output/port/500/type">
      <td>/channel/1/output/port/500/type</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/output/port/600/type">
      <td>/channel/1/output/port/600/type</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/output/port/601/type">
      <td>/channel/1/output/port/601/type</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/profiler/time">
      <td>/channel/1/profiler/time</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/format">
      <td>/channel/1/format</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/profiler/time">
      <td>/channel/1/stage/layer/1/profiler/time</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/time">
      <td>/channel/1/stage/layer/1/file/time</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/foreground/file/time">
      <td>/channel/1/stage/layer/1/foreground/file/time</td>
      <td></td>
      <td></td>
    </tr>

    

    <tr id="/channel/1/stage/layer/1/file/frame">
      <td>/channel/1/stage/layer/1/file/frame</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/fps">
      <td>/channel/1/stage/layer/1/file/fps</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/path">
      <td>/channel/1/stage/layer/1/file/path</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/foreground/file/path">
      <td>/channel/1/stage/layer/1/foreground/file/path</td>
      <td></td>
      <td></td>
    </tr>
    
    <tr id="/channel/1/stage/layer/1/time">
      <td>/channel/1/stage/layer/1/time</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/frame">
      <td>/channel/1/stage/layer/1/frame</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/type">
      <td>/channel/1/stage/layer/1/type</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/background/type">
      <td>/channel/1/stage/layer/1/background/type</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/profiler/time">
      <td>/channel/1/stage/profiler/time</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/transition/frame">
      <td>/channel/1/stage/layer/1/transition/frame</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/transition/type">
      <td>/channel/1/stage/layer/1/transition/type</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/video/width">
      <td>/channel/1/stage/layer/1/file/video/width</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/video/height">
      <td>/channel/1/stage/layer/1/file/video/height</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/video/codec">
      <td>/channel/1/stage/layer/1/file/video/codec</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/audio/sample-rate">
      <td>/channel/1/stage/layer/1/file/audio/sample-rate</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/audio/channels">
      <td>/channel/1/stage/layer/1/file/audio/channels</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/audio/format">
      <td>/channel/1/stage/layer/1/file/audio/format</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/audio/codec">
      <td>/channel/1/stage/layer/1/file/audio/codec</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/loop">
      <td>/channel/1/stage/layer/1/loop</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/host/path">
      <td>/channel/1/stage/layer/1/host/path</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/host/width">
      <td>/channel/1/stage/layer/1/host/width</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/host/height">
      <td>/channel/1/stage/layer/1/host/height</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/host/fps">
      <td>/channel/1/stage/layer/1/host/fps</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/host/buffer">
      <td>/channel/1/stage/layer/1/host/buffer</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/nb_channels">
      <td>/channel/1/mixer/audio/nb_channels</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/1/dBFS">
      <td>/channel/1/mixer/audio/1/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/2/dBFS">
      <td>/channel/1/mixer/audio/2/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/3/dBFS">
      <td>/channel/1/mixer/audio/3/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/4/dBFS">
      <td>/channel/1/mixer/audio/4/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/5/dBFS">
      <td>/channel/1/mixer/audio/5/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/6/dBFS">
      <td>/channel/1/mixer/audio/6/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/7/dBFS">
      <td>/channel/1/mixer/audio/7/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/8/dBFS">
      <td>/channel/1/mixer/audio/8/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/9/dBFS">
      <td>/channel/1/mixer/audio/9/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/10/dBFS">
      <td>/channel/1/mixer/audio/10/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/11/dBFS">
      <td>/channel/1/mixer/audio/11/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/12/dBFS">
      <td>/channel/1/mixer/audio/12/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/13/dBFS">
      <td>/channel/1/mixer/audio/13/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/14/dBFS">
      <td>/channel/1/mixer/audio/14/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/15/dBFS">
      <td>/channel/1/mixer/audio/15/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/16/dBFS">
      <td>/channel/1/mixer/audio/16/dBFS</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/output/port/200/frame">
      <td>/channel/1/output/port/200/frame</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/output/port/200/path">
      <td>/channel/1/output/port/200/path</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/output/port/200/fps">
      <td>/channel/1/output/port/200/fps</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/paused">
      <td>/channel/1/stage/layer/1/paused</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/output/port/150/file/frame">
      <td>/channel/1/output/port/150/file/frame</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/output/port/150/file/path">
      <td>/channel/1/output/port/150/file/path</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/output/port/150/file/fps">
      <td>/channel/1/output/port/150/file/fps</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/vframe">
      <td>/channel/1/stage/layer/1/file/vframe</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/file/speed">
      <td>/channel/1/stage/layer/1/file/speed</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/output/file/frame">
      <td>/channel/1/output/file/frame</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/foreground/file/name">
      <td>/channel/1/stage/layer/1/foreground/file/name</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/mixer/audio/volume">
      <td>/channel/1/mixer/audio/volume</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/foreground/file/streams/0/fps">
      <td>/channel/1/stage/layer/1/foreground/file/streams/0/fps</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/buffer">
      <td>/channel/1/stage/layer/1/buffer</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="/channel/1/stage/layer/1/foreground/file/stime">
      <td>/channel/1/stage/layer/1/foreground/file/stime</td>
      <td></td>
      <td></td>
    </tr>

    <tr id="hhh">
      <td>hhh</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
</div>