<div id="XdcamSoapClient" class="collapse" data-parent="#myGroup">
    <h3>XdcamSoapClient</h3>
    
    <div style="overflow:scroll;height: 800px;">
        <iframe id="xdcamsoapclient1"  style="position:fixed;left :10px;top:120px;height: 1000px;width: 1220px;" src="frames/xdcamsoapclient1.html"></iframe>
    </div>
</div>

